<section class="hero" id="backgroundImage">  
  <div class="wrapper text-center">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://docs.google.com/forms/d/e/1FAIpQLSd1yYPAjdBB7w7tyhE1Er8lZuvSfNAaGZm44L0K_gBj43UB0A/viewform?usp=sf_link">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <br>
    <div class="buttons">
      {% for link in site.event.hero2.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://docs.google.com/forms/d/e/1FAIpQLSd1yYPAjdBB7w7tyhE1Er8lZuvSfNAaGZm44L0K_gBj43UB0A/viewform?usp=sf_link">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
